// Color
// Main Color(s)
$green         : #96CA2D;
$light-green   : #B5E655;
$blue          : #4BB5C1;
$light-blue    : #7FC6BC;
// Helper colors
$light-gray    : #EDF7F2;
$t-black       : rgba(0, 0, 0, 0.5);
$black         : #000000;
$white         : #FFFFFF;

// Font Families
$lato       : 'Lato', sans-serif;
$source     : 'Source Serif Pro', serif;

// Units
$base-unit  : 24px;

// Breakpoints
$medium     : 768px;
$large      : 930px;
